:root {
    --sec-text: #5C7CAB;
    --main-text: rgb(58, 78, 107);
    --sec-back: rgb(127, 170, 235);
    --main-back: #86B3F7; 
    --tert: #7197D1;
}

.project-message-btn {
    background: rgba(58, 78, 107, 0.5);
    color: white;
    border: 2px solid rgba(58, 78, 107, 0.75);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: 700;
    transition: all 0.2s;
}

.project-message-btn:hover {
    background: rgba(127, 170, 235, 0.75);
    border: 2px solid rgba(127, 170, 235, 0.75);
    color: var(--main-text);
}

.projects-display {
    border: 1px solid var(--tert);
    border-radius: 5px;
    background: rgb(127, 170, 235, 0.2);
}

.project-message-room-name {
    color: var(--main-text);
    font-weight: 600;
}

.message-display {
    background:rgb(127, 170, 235, 0.2);
    border-radius: 5px;
}

.project-message-container {
    background: white;
    height: 550px;
    overflow-y: auto;
}

.project-message-send {
    border-radius: 5px;
    background: rgba(127, 170, 235, 0.5);
    color: black;
    font-weight: 600;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-message-receive {
    border-radius: 5px;
    background: var(--main-text);
    color: white;
    font-weight: 600;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-message-input-container {
    border: 1px solid var(--tert);
    border-radius: 5px;
    background: rgb(127, 170, 235, 0.5);
}

.project-message-input {
    width: 95%;
    border-radius: 5px;
}

.project-message-send-btn {
    background: none;
    border: none;
    border-radius: 5px;
    color: var(--main-text);
    font-weight: 600;
    transition: all 0.2s;
}

.project-message-send-btn:hover {
    background: rgba(58, 78, 107, 0.75);
    color: white;
}